.root{
    height:  80px;
    font-size: 24px;
    color: white;
    background: #009999;
    align-items: center;
    display:flex;
    justify-content: center;
}
.close{
    color: rgb(206, 22, 22);
    text-decoration: line-through;
} 